body{
  background-color: gray;
}


.logo{

    width: 20px;
    height: 20px;
border-radius: 250px;
object-fit: cover;
max-zoom: 50%;

}

.navbar-nav { 

    margin-left: auto; 

}
footer{
    margin-top: -50px;
  }
  .foot{
    text-align: center;
    background-color: black;
    color: white;
  
  }
  .foot p{
    margin: auto;
    clear: both;
    font-size: 20px;
    color: white;
  }
  .fa{
    color: white;
    padding: 5px;
    margin-right: 5px;
  }


.font{
    color: black;
    background-color: lavenderblush;
    font: outline;
    font-style: italic;
    font-family: 'Tourney', cursive;

  }

video{
  width: 100%;
  height: auto;
}

h5{
  color: black;
  background-color: burlywood;
  font-style: italic;
}

.pera{
  color: darkblue;
  background-color: floralwhite;
  font-style: italic;
}

h6{
  font-style: italic;
  color: blue;
  background-color: chartreuse;
}
.p2{
  font-style: italic;
  color: maroon;
  background-color: lightskyblue;
}

.h7{
  font-style: italic;
  color: darkorange;
  background-color: cyan;
}
.p3{
  font-style: italic;
  color: darkviolet;
  background-color: gainsboro;
}


#loding{
  position: fixed;
  width: 100%;
  height: 100vh;
  background:  
  url('../image/loader3.gif')
	 no-repeat center;	
	z-index: 99999;
  background-color: rgb(77, 75, 75);
}

.vimg{
  border-radius: 50%;
  height: 7vh;
  width: 7vh;
}

.cha{
  color: black;
}

.kri{
padding-top: 20%;
padding-bottom: 80%;
padding-left: 40%;
justify-content: center;
}

.hon{
  background-color: rgb(97, 241, 53);
  margin-top: 10rem;
  border-radius: 20%;
}

.abo{
  background-color: greenyellow;
  border: indigo;
  border-radius: 40%;
  top: 30%;

}

h30{
  background-color: lightgoldenrodyellow;
  font-style: italic;
  block-size: auto;
}

.space{
  display: flex;
  justify-content: space-around;

}

.creat{
  background-color: lemonchiffon;
  font-size: 2rem;
  margin-top: 10%;
}

i{
  color: black;
}